input[type="text"],
input[type="password"],
textarea  {
    -webkit-transition: border, outline, box-shadow 0.30s ease-in-out;
    -moz-transition: border, outline, box-shadow 0.30s ease-in-out;
    -ms-transition: border, outline, box-shadow 0.30s ease-in-out;
    -o-transition: border, outline, box-shadow 0.30s ease-in-out;
    border: 1px solid $formBorder;
    border-radius: 0;
    width: 100%;
    box-sizing:border-box;
    margin: 0.5em 0;
    font-size: 1em;
    box-shadow: 0;
}
input[type="text"],
input[type="password"] {
    padding: 0 0.7em;
    height: 2.55em;
    line-height: 2.55em;
    &.mid { width: 15em; }
    &.short { width: 9em; }
    &.search-box { border-radius: 3px 0 0 3px; }
    &.xsml {
        padding: 0 0.4em;
        height: 1.8em;
        line-height: 1.8em;
    }
}
textarea {
    padding: 0.7em;
    height: 230px;
    resize: none;
}
.btn,
button,
input[type="submit"] {
    border: none;
    border-radius: 0;
    padding: 0.66em 1em;
    background: $midGrey;
    color: $darkText;
    &.muted { background: $lightGrey; color: $bodyText; }
    &.xsml, .xsml & { padding: 0.35em 0.4em; }
    &.rounded { border-radius: 3px; }
}

.btn:hover,
.btn:focus,
button:hover,
input[type="submit"]:hover,
button:focus,
input[type="submit"]:focus {
    background: $darkGrey;
    color: $contrastText;
    &.muted {
        background: $darkText;
        color: $midGrey;
    }
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
button:focus,
.btn:focus,
input[type="submit"]:focus,
select:focus {
    outline: 0;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.inline {
    input[type="text"],
    input[type="password"],
    button,
    input[type="submit"] {
        margin: 0;
        float: left;
    }
}
