ul.inline {
    display: block;
    li { float: left; padding-left: 0.5em; padding-right: 0.5em; }
    li:first-child { padding-left: 0; }
}
ul.piped {
    li { position: relative; }
    li:after { content: '|'; position: absolute; display:block; top: 0; right: -4px; }
    li:last-child:after { content: ''; }
}

.cf { @include clearfix(); }
.clear { clear: both; }
.left { float: left; }
.right { float: right; }
.center { display: block; margin: auto; }
.bpad { padding-bottom: 1em; }
.pad-children {
    & > * {padding-bottom: 1em;}
}
.col-thirds {
    & > * {
        float: left;
    }
    & > .first {
        width: 33%;
    }
    & > .second {
        width: 66%;
    }
}
.col-half {
    & > * {
        float: left;
        width: 50%;
    }
}
.cols2 {
    width: 100%;
    column-count: 2;
    column-gap: 1.46em;
}
.vrule {
    padding: 1em 0;
    border-top: 1px solid $lightGrey;
    border-bottom: 1px solid $lightGrey;
    margin-bottom: 1em;
}
