@mixin image-replace($spritename, $width, $height) {
    width: $width;
    height: $height;
    text-indent: $width;
    line-height: $height;
    overflow: hidden;
    @include all-sprite($spritename);
}
