html {
    font-size: 15px;
    font-family: proxima_nova_rgregular;
    color: $bodyText;
    letter-spacing: 0.03em;
}

a { color: $lightGreen; }
a.bdy { color: $bodyText; }
nav a, a.noul, a.btn { text-decoration: none; }

p, h1, h2, h3, h4, h5, h6 { margin-bottom: 0.3em; }

.uc { text-transform: uppercase; }

.xxxlg { font-size: 1.6em; margin-bottom: 0.5em; } // 24pt
.xxlg { font-size: 1.4em; margin-bottom: 0.5em; } // 21pt
.xlg { font-size: 1.33em;  margin-bottom: 0.5em; } // 20pt
.lg { font-size: 1.2em;  margin-bottom: 0.5em; } // 18pt
.med { font-size: 0.93em;  margin-bottom: 0.4em; } // 14pt
.sml { font-size: 0.86em;  margin-bottom: 0.25em; } // 13pt
.xsml { font-size: 0.8em;  margin-bottom: 0.25em; } // 12pt

.spaced { margin-bottom: 1em; }
