$bodyText: #6d6e71; //@todo
$darkText: #6d6e71; //@todo
$lightGreen : #8cc63f; //@todo
$darkGreen : #007c85; //@todo
$greenBorder: #8ac3c7; //@todo
$lightGrey: #e1e1e1; //@todo
$midGrey: #6d6e71; //@todo
$darkGrey: #6d6e71; //@todo
$underGrey: #eaeaea; //@todo
$formBorder: #eaeaea; //@todo
$tableAlt: #efffd9;//@todo

$contrastText: white; // @todo
