<form class="main clearfix" method="post" action="">
    <h1>Contact Us</h1>
    <fieldset>
        <p>
            <label for="contact-name">Your name:</label>
            <input type="text" name="name" id="contact-name" />
        </p>
        <p>
            <label for="contact-email">Email address:</label>
            <input type="text" name="email" id="contact-email" />
            <input type="hidden" name="email_contact" value="1" />
            <input type="hidden" name="remLen" value="250" />
        </p>
        <p>
            <label for="contact-message">Message:</label>
            <textarea name="message" id="contact-message"></textarea>
        </p>
        <p>
            <button class="align-right">Send</button>
        </p>
    </fieldset>
</form>
