<form class="main cf" method="post" action="">
    <h1>Login</h1>
    <fieldset>
        <p>
            <label for="login-username">Username</label>
            <input type="text" name="userid" id=="login-username" />
        </p>
        <p>
            <label for="login-password">Password</label>
            <input type="password" name="password" id="login-password" />
        </p>
        <p>
            <button class="align-right">Login</button>
        </p>
    </fieldset>
</form>
