<div class="main">
    <h2>Username &amp; Password</h2>
    <p>
        Username must be at least 5 characters in length and not more than 50 characters in length.
    </p>
    <p>
        Passwords must be at least 5 characters in length and not more than 50 characters in length.
    </p>
    <p>
        Both may only contain letters and numbers.
    </p>
</div>
